@use "@scss" as global;
.lineBox {
  overflow: hidden;
  position: absolute;
  width: 75%;
  height: 66%;
  display: block;
  z-index: -1;
}
.chrome {
  @include global.mix-shineAnimation(7s, 9rem);
  position: absolute;
  top: 25px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
  span.emphasis {
    color: rgba(134, 40, 129, 0.6);
    font-size: 140%;
    font-weight: bolder;
  }
}
