@use "@scss" as global;
.lineBox {
  overflow: hidden;
  position: absolute;
  @include global.mix-map-responsive(460px, 580px, 660px) using ($val) {
    width: $val;
  }
  aspect-ratio: 89 / 64;
  display: block;
  transform: translateZ(-10px);
  z-index: -5;
}
.chrome {
  display: inline-block;
  white-space: pre-line;
  @include global.mix-shineAnimation(7s, 9rem);
  position: absolute;
  top: 25px;
  font-weight: bold;
  font-family: "Times New Roman", Times, serif;
  font-size: 3rem;
  line-height: 3rem;
  text-align: center;
  text-shadow: 0 0px 0px rgba(255, 255, 255, 0.5);
  transform: translateZ(999px);
  z-index: 999;
  span.emphasis {
    color: rgba(134, 40, 129, 0.6);
    font-size: 140%;
    font-weight: bolder;
    word-break: break-word;
  }
}
