@use "./variables" as var;
// remember, css custom property is unavailable in the media query condition.
@mixin shineAnimation($duration, $textHeight) {
  background: #222 -webkit-gradient(
      linear,
      left top,
      right top,
      from(#222),
      to(#222),
      color-stop(0.5, #fff)
    ) 0 0 no-repeat;
  background-image: -webkit-linear-gradient(
    -40deg,
    transparent 0%,
    transparent 40%,
    #fff 50%,
    transparent 60%,
    transparent 100%
  );
  color: rgba(155, 155, 155, 0.3);
  -webkit-background-size: $textHeight;
  -webkit-background-clip: text;
  -webkit-animation-name: shine;
  -webkit-animation-duration: $duration;
  -webkit-animation-iteration-count: infinite;

  @keyframes shine {
    0%,
    10% {
      background-position: -120vw;
    }
    20% {
      background-position: top left;
    }
    90% {
      background-position: top right;
    }
    100% {
      background-position: 120vw;
    }
  }

  @-webkit-keyframes shine {
    0%,
    10% {
      background-position: -120vw;
    }
    20% {
      background-position: top left;
    }
    90% {
      background-position: top right;
    }
    100% {
      background-position: 120vw;
    }
  }
}
@mixin map-responsive($mobile-val, $tablet-val, $pc-val) {
  // pc devices
  @content ($pc-val);

  // tablet devices
  @media (min-width: calc(var.$breakpoint-mobile + 1px)) and (max-width: calc(var.$breakpoint-tablet + 1px)) {
    @content ($tablet-val);
  }

  // mobile horizontal
  @media (max-width: var.$breakpoint-mobile) and (orientation: landscape) {
    @content ($mobile-val);
  }

  //mobile vertical
  @media (max-width: var.$breakpoint-mobile) and (orientation: portrait) {
    @content ($mobile-val);
  }
}