// scss file only contains these.
// - constant properties
// - responsive properties
// - unrelated with animations.

.cardWrapper {
  position: absolute;
  width: fit-content;
  height: fit-content;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  & > .card {
    min-width: 600px;
    min-height: 423px;
    max-width: 88vw;
    max-height: 62vw;
    width: 33vw;
    height: 20vw;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
      0 10px 10px -10px rgba(50, 50, 73, 0.3);
    transform-style: preserve-3d;
    &:active {
      cursor: grabbing;
    }
    & > .dustJacket {
      position: absolute;
      background-color: aqua;
      right: 0;
      top: 0;
      cursor: pointer;
    }
    & > .face {
      position: static;
      width: 100%;
      height: 100%;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }
    & > .front {
      z-index: 1;
      background-color: white;
      background-size: auto 85%;
      background-repeat: no-repeat;
      background-position: center center;
    }
    & > .back {
      display: block;
      overflow: hidden;
      z-index: -1;
      -webkit-transform: rotateY(180deg) rotateZ(180deg);
      transform: rotateY(180deg) rotateZ(180deg);
      box-sizing: border-box;
    }
    &:after {
      background-color: #ffffff;
      bottom: 0;
      content: "";
      left: 45px;
      position: absolute;
      top: 0;
      width: 5px;
      z-index: 10;
      transform: rotateY(-90deg);
      transform-origin: 100% 50%;
    }
    &:before {
      background-color: #ffffff;
      border-radius: 100%;
      content: "";
      height: 100px;
      left: 0;
      position: absolute;
      top: 0;
      width: 100px;
      transform: translateZ(-5px);
    }
  }
}
