// scss file only contains these.
// - constant properties
// - responsive properties
// - unrelated with animations.

.cardWrapper {
  position: absolute;
  width: fit-content;
  height: fit-content;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  user-select: none;
  .card {
    min-width: 280px;
    min-height: 280px;
    width: 35vw;
    height: 35vw;
    max-width: 380px;
    max-height: 380px;
    will-change: transform;
    border-radius: 25% 10%;
    touch-action: none;
    user-select: none;
    transform-style: preserve-3d;
    &:active {
      cursor: grabbing;
    }
  }
}
