.backInfoContainer {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateZ(90deg);

  .team {
    text-align: center;
    font-size: 0.7em;
    letter-spacing: -2px;
    width: 90%;
    .meTheKing{
      display: inline-block;
      width: 35%;
      height: auto;
    }
    .me{
      display: inline-block;
      width: 15%;
      height: auto;
    }
    .teammate{
      display: inline-block;
      width: 10%;
      height: auto;

    }
  }

  .IconLinkContainer {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    position: static;
    a {
      margin: 5px;
      width: 50px;
      height: 50px;
      z-index: 10;
      div {
        width: 50px;
        height: 50px;
      }
    }
  }
}
