.backInfoContainer {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateZ(90deg);

  .team {
    text-align: center;
    font-size: 1em;
    letter-spacing: -2px;
    width: 90%;
    .me {
      transform: scale(1);
    }
    .teammate {
      transform: scale(1);
    }
  }

  .IconLinkContainer {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    position: static;
    a {
      margin: 5px;
      width: 50px;
      height: 50px;
      z-index: 10;
      div {
        width: 50px;
        height: 50px;
      }
    }
  }
}
