@use "@scss" as global;

.IconLinkContainer {
  display: flex;
  width: 90%;
  justify-content: flex-end;
  position: static;
  a.IconLink {
    user-select: none;
    text-decoration: none;
    margin: 5px;
    width: fit-content;
    height: fit-content;
    transition: box-shadow ease-in 0.2s, scale ease-in 0.2s;
    z-index: 10;
    div.Icons {
      width: fit-content;
      height: fit-content;
      div.icon {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: fit-content;
        @include global.mix-responsiveWidth("img", 16px, 24px, 32px);
        img {
          aspect-ratio: 1;
        }
        @include global.mix-responsiveWidth(".iconName", 16px, 24px, 32px);
        .iconName {
          font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
          height: auto;
          display: flex;
          justify-content: center;
          margin-top: 5px;
          font-size: 0.5rem;
          line-height: 0.5rem;
          font-weight: bold;
          color: gray;
        }
      }
    }
  }
  a:hover {
    scale: 1.2;
  }
}
