@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap");
.serviceOverlay {
  position: absolute;
  left: -35px;
  top: -30px;
  width: max-content;
  height: max-content;
  transform-origin: center;
  z-index: 999;
  .serviceDesc {
    font-family: "Nanum Gothic Coding", monospace;
    color: #b6c7db;
    text-shadow: 1px 1px 2px rgb(57, 57, 57);
    font-weight: bolder;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 5;
    text-align: center;
    line-height: 100px;
    min-width: 100px;
    min-height: 68px;
    width: 20vw;
    height: 20vh;
    max-width: 120px;
    max-height: 83px;
    font-size: 0.35em;
    pointer-events: none;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }
  svg.cloud {
    min-width: 120px;
    min-height: 83px;
    width: 25vw;
    height: 25vh;
    max-width: 145px;
    max-height: 101px;
    z-index: 8;
  }
  .serverStatus {
    width: 36px;
    height: 36px;
    position: absolute;
    right: -10px;
    top: 5px;
    z-index: 9;
  }
}
