// colors, sizes, 
$primary-color: #B6C7DB;
$secondary-color: #2D69AF;
$primary-background-color: #F5F0D6;
$secondary-background-color: #616161;
$background-gradient-image1: linear-gradient(to top, #9890e3 0%, #b1f4cf 100%);
$background-gradient-image2: linear-gradient(to top, #feada6 0%, #f5efef 100%);
$background-gradient-image3: linear-gradient(60deg, #abecd6 0%, #fbed96 100%);
$warning-color: #EED22F;
$danger-color: #C9274C;
$info-color: #5C9F44;
$black-color: #000000;
$white-color: #ffffff;

