@use "@scss" as main;
.indicator {
  display: flex;
  right: 150px;
  top: 25px;
  position: absolute;
  z-index: 999;
  gap: 5px;
  font-size: calc(0.6vw + 20px);
  font-weight: bold;
  transform: rotateZ(-10deg);
  color: rgb(221, 63, 95);
  margin: 0;
}
.band {
  touch-action: none;
  z-index: 9;
  will-change: transform;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  & img {
    position: relative;
  }
  img {
    cursor: pointer;
  }
}
.face {
  position: absolute;
  width: fit-content;
  height: fit-content;
}
.front {
  svg {
    @extend %MaskingCardBandRightUp;
  }
  z-index: 1;
  right: -23px;
  top: -20px;
  overflow: visible;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.back {
  svg {
    @extend %MaskingCardBandLeftDown;
  }
  right: -28px;
  top: -26px;
  overflow: hidden;
  display: block;
  -webkit-transform: rotateY(180deg) rotateZ(90deg);
  transform: rotateY(180deg) rotateZ(90deg);
}
