@use "@scss" as main;
.indicator {
  display: flex;
  right: 150px;
  top: 25px;
  position: absolute;
  z-index: 999;
  gap: 5px;
  font-size: calc(0.6vw + 20px);
  font-weight: bold;
  transform: rotateZ(-10deg);
  color: rgb(221, 63, 95);
  margin: 0;
}
.band {
  z-index: 9;
  will-change: transform;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: visible;
  & img {
    @extend %Uninteractable;
    position: relative;
    filter: drop-shadow(0 4px 6px rgba(51, 51, 63, 0.1))
      drop-shadow(0 3px 3px rgba(51, 51, 63, 0.1));
  }
}
.face {
  position: absolute;
  width: fit-content;
  height: fit-content;
}
.front {
  .clickMask {
    z-index: 2;
    touch-action: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    @extend %MaskingCardBandRightUp;
  }
  z-index: 1;
  right: -23px;
  top: -20px;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.back {
  .clickMask {
    z-index: 2;
    touch-action: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    @extend %MaskingCardBandLeftDown;
  }
  z-index: 1;
  right: -28px;
  top: -26px;
  display: block;
  -webkit-transform: rotateY(180deg) rotateZ(90deg);
  transform: rotateY(180deg) rotateZ(90deg);
}
