// scss file only contains these.
// - constant properties
// - responsive properties
// - unrelated with animations.

.deckContainer {
  overflow: hidden;
  background: lightblue;
  height: 100%;
}

.deck {
  display: flex;
  overflow: hidden;
  align-items: center;
  height: 100%;
  justify-content: center;
  transform-style: preserve-3D;
}
