// scss file only contains these.
// - constant properties
// - responsive properties
// - unrelated with animations.

.deckContainer {
    background: lightblue;
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: center;
    transform-style: preserve-3D;
  }
  .cardWrapper {
    position: absolute;
    width: fit-content;
    height: fit-content;
    will-change: transform;
    display: flex;
    align-items: center;
    justify-content: center;
    touch-action: none;
  }
  
  .cardWrapper > .card {
    cursor: grab;
    background-color: white;
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
    min-width: 600px;
    min-height: 423px;
    max-width: 88vw;
    max-height: 62vw;
    width: 33vw;
    height: 20vw;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4), 0 10px 10px -10px rgba(50, 50, 73, 0.3);
  }
  .cardWrapper > .card:active {
    cursor: grabbing;
 }