// scss file only contains these.
// - constant properties
// - responsive properties
// - unrelated with animations.

.deckContainer {
  overflow: hidden;
  background: lightblue;
  height: 100vh;
  transform-style: preserve-3D;
}

.deck {
  display: flex;
  // overflow: hidden; // it brokes preserve-3d
  align-items: center;
  margin-top: 5%;
  height: 100%;
  justify-content: center;
  transform-style: preserve-3D;
  touch-action: none;
}
