.doodle {
  pointer-events: none;
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  outline: none;
  user-select: none;
  touch-action: none;
  filter: url(#squiggly) drop-shadow(2px 2px 3px rgba(50, 50, 50, 0.7));

  foreignObject {
    width: 100%;
    height: 100%;
    * {
      margin: 0;
    }
    .doodleContainer {
      width: 100%;
      height: 100%;
      .title {
        font-family: "Hi Melody", cursive;
        color: blueviolet;
        font-weight: bold;
        text-align: center;
        vertical-align: middle;
        text-anchor: middle;
        font-size: 1.5em;
        line-height: 1.4em;
        width: 90%;
        margin: auto;
        z-index: 999;
      }
      .sub {
        text-anchor: middle;
        font-family: "Hi Melody", cursive;
        color: blueviolet;
        text-align: center;
        vertical-align: middle;
        font-size: 1.2em;
        line-height: 1em;
        width: 90%;
        margin: auto;
        z-index: 999;
      }
    }
    .graffiti {
      margin: 0;
      position: absolute;
      &.graffiti-left {
        left: 0;
        height: 100%;
        width: 50vw;
        svg {
          height: 100%;
          width: 50vw;
        }
      }
      &.graffiti-right {
        right: 0;
        width: 50vw;
        height: 100%;
      }
      &.graffiti-bottom {
        width: 100%;
        bottom: 0;
        svg {
          height: 100%;
          width: 50vw;
        }
      }
      & > svg {
        max-width: 100%;
        max-height: 100%;
        height: 100%;
        width: 100%;
        resize: both;
      }
    }
  }
}
