.doodleTitle {
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: center;
  vertical-align: middle;
  text-anchor: middle;
  width: 100%;
  height: 50%;
  outline: none;
  user-select: none;
  pointer-events: none;
  touch-action: none;
  filter: url(#squiggly) drop-shadow(2px 2px 3px rgba(50, 50, 50, 0.7));
  color: blueviolet;
  font-family: "Hi Melody", cursive;
  z-index: 999;

  foreignObject {
    width: 100%;
    height: 100%;
    * {
      margin: 0;
    }
    .title {
      font-weight: bold;
      font-size: 1.5em;
      line-height: 1.4em;
    }
    .sub {
      font-size: 1.2em;
      line-height: 1em;
    }
  }
}
.doodle {
  width: 100%;
  height: 50%;
  position: absolute;
  text-align: center;
  bottom: 0;
  color: blueviolet;
  font-family: "Hi Melody", cursive;
  z-index: -1;
  outline: none;
  user-select: none;
  touch-action: none;
  pointer-events: none;
  overflow: visible;
  foreignObject {
    width: 100%;
    height: 100%;
    overflow: visible;
    * {
      margin: 0;
    }
    .doodleContainer {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: end;
      overflow: visible;
      .graffiti {
        margin: 0;
        &.graffiti-left {
          max-height: 100%;
          height: fit-content;
          width: calc(35%);
          transform: rotateZ(30deg);
          svg {
            position: relative;
            left:-18%;
          }
        }
        &.graffiti-right {
          max-height: 100%;
          height: fit-content;
          width: calc(35%);
          transform: rotateZ(-30deg);
          svg {
            position: relative;
            right:-18%;
          }
        }
      }
    }
  }
}
