.infoMapper {
  width: 80%;
  .infoItem {
    display: table;
    * {
      display: table-cell;
      vertical-align: middle;
      margin: 5px;
    }
    svg, .infoItemIcon {
      min-width: 36px;
      min-height: 54px;
      width: 7vw;
      height: 7vw;
      max-width: 64px;
      max-height: 96px;
    }
    span {
      font-size: calc(12px + 1vw);
      width: 100%;
      margin: 5px;
    }
  }
}
