@use "@scss" as global;
.infoMapper {
  width: 80%;
  .infoItem {
    display: table;
    * {
      display: table-cell;
      vertical-align: middle;
      margin: 5px;
    }
    @include global.mix-responsiveWidth("svg, .infoItemIcon", 36px, 48px, 64px);
    svg,
    .infoItemIcon {
      aspect-ratio: 1.5;
    }
    span {
      font-size: 1rem;
      width: 100%;
      margin: 5px;
    }
  }
}
