@use "@scss" as global;
.float {
  position: absolute;
  left: -5%;
  top: -15%;
  width: fit-content;
  height: fit-content;
  transform-origin: center;
  overflow: visible;
  z-index: 999;
  .serviceDesc {
    font-family: "Nanum Gothic Coding", monospace;
    color: #b6c7db;
    text-shadow: 1px 1px 2px rgb(57, 57, 57);
    font-weight: bolder;
    z-index: 5;
    text-align: center;
    line-height: 100px;
    @include global.mix-map-responsive(120px, 132px, 145px) using ($val) {
      width: $val;
    }
    aspect-ratio: 145/100;
    font-size: 1.3rem;
    pointer-events: none;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }
  .serverStatus {
    position: absolute;
    right: 0;
    top: 0;
    right: -5px;
    z-index: 9;
  }
}
