.backInfoContainer {
  display: flex;
  position: static;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateZ(90deg);

  .team {
    text-align: center;
    font-size: 1em;
    letter-spacing: -2px;
    width: 90%;
    .me {
      transform: scale(1.0);
    }
    .teammate {
      transform: scale(1.0);
    }
  }

  .infoMapper {
    width: 80%;
    .infoItem {
      display: table;
      * {
        display: table-cell;
        vertical-align: middle;
      }
      .infoItemIcon {
        min-width: 48px;
        min-height: 64px;
        width: 7vw;
        height: 7vw;
        max-width: 64px;
        max-height: 96px;
      }
      span {
        font-size: 0.4em;
        width: 100%;
        margin: 5px;
      }
    }
  }

  .IconLinkContainer {
    display: flex;
    width: 90%;
    justify-content: flex-end;
    position: static;
    a {
      margin: 5px;
      width: 50px;
      height: 50px;
      z-index: 10;
      div {
        width: 50px;
        height: 50px;
      }
    }
  }
}
