@use "@scss" as global;
@import url("https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap");
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
div {
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --base-font-size: #{global.$var-base-font-size};
  --breakpoint-mobile: #{global.$var-breakpoint-mobile};
  --breakpoint-tablet: #{global.$var-breakpoint-tablet};
  --font-size-ratio: #{global.$var-font-size-ratio};
  --title-font-size: 2rem;
  --subtitle-font-size: 1.66rem;
  --paragraph-font-size: 1.25rem;
  --icon-font-size: 0.75rem;
  @include global.mix-map-responsive(
      $mobile-val: global.$var-mobile-font-size,
      $tablet-val: global.$var-tablet-font-size,
      $pc-val: global.$var-font-size-ratio
    )
    using ($val) {
    font-size: calc(var(--base-font-size) * $val);
  }
  @include global.mix-map-responsive(
      $mobile-val: global.$var-card-width-sm,
      $tablet-val: global.$var-card-width-md,
      $pc-val: global.$var-card-width-lg
    )
    using ($val) {
    --card-width: #{$val};
  }
}
