.band {
  position: absolute;
  right: -22px;
  top: -17px;
  z-index: 9;

  //generate clip from https://www.cssportal.com/css-clip-path-generator/
  -webkit-clip-path: polygon(
    2% 0,
    54% 0,
    98% 43%,
    98% 96%,
    86% 96%,
    85% 88%,
    11% 12%,
    2% 11%
  );
  clip-path: polygon(
    2% 0,
    54% 0,
    98% 43%,
    98% 96%,
    86% 96%,
    85% 88%,
    11% 12%,
    2% 11%
  );
  touch-action: none;
  user-select: none;
  & > * {
    position: relative;
  }
  image {
    cursor: pointer;
  }
}
