@use "@scss" as main;
.band {
  z-index: 9;
  will-change: transform;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow: visible;
  & img {
    @extend %Uninteractable;
    position: relative;
    filter: drop-shadow(0 6px 10px rgba(50, 50, 73, 0.4))
      drop-shadow(0 5px 5px rgba(50, 50, 73, 0.3));
  }
}
.face {
  position: absolute;
  width: fit-content;
  height: fit-content;
}
.front {
  .clickMask {
    z-index: 2;
    touch-action: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    @extend %MaskingCardBandRightUp;
  }
  z-index: 1;
  right: -24px;
  top: -20px;
  // overflow: hidden;
  -webkit-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.back {
  .clickMask {
    z-index: 2;
    touch-action: none;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    @extend %MaskingCardBandLeftDown;
  }
  z-index: 1;
  right: -33px;
  top: -28px;
  // overflow: hidden;
  display: block;
  -webkit-transform: rotateY(180deg) rotateZ(90deg);
  transform: rotateY(180deg) rotateZ(90deg);
}
