.face {
  border-radius: 10px;
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

div:has(> .backgroundContainer) {
  border-style: none;
  background-color: rgba(0, 0, 0, 0);
}

.backgroundContainer {
  overflow: hidden;
  display: block;
  height: 100%;
  aspect-ratio: 1/1 !important;
  border-radius: 10% 25%;
  text-align: center;
  inset: 0;
  align-items: center;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: contain;
}
.backInfoContainer {
  transform: rotateZ(90deg);
  overflow: hidden;
}
