// scss file only contains these.
// - constant properties
// - responsive properties
// - unrelated with animations.

.cardWrapper {
  position: absolute;
  width: fit-content;
  height: fit-content;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  touch-action: none;
  user-select: none;
  .card {
    min-width: 360px;
    min-height: 254px;
    width: 45vw;
    height: 32vw;
    max-width: 540px;
    max-height: 381px;
    will-change: transform;
    border-radius: 10px;
    box-shadow: 0 12.5px 100px -10px rgba(50, 50, 73, 0.4),
      0 10px 10px -10px rgba(50, 50, 73, 0.3);
    touch-action: none;
    user-select: none;
    transform-style: preserve-3d;
    &:active {
      cursor: grabbing;
    }
    .band {
      position: absolute;
      right: -22px;
      top: -17px;
      z-index: 9;

      //generate clip from https://www.cssportal.com/css-clip-path-generator/
      -webkit-clip-path: polygon(
        2% 0,
        54% 0,
        98% 43%,
        98% 96%,
        86% 96%,
        85% 88%,
        11% 12%,
        2% 11%
      );
      clip-path: polygon(
        2% 0,
        54% 0,
        98% 43%,
        98% 96%,
        86% 96%,
        85% 88%,
        11% 12%,
        2% 11%
      );
      touch-action: none;
      user-select: none;
      & > * {
        position: relative;
      }
      path {
        cursor: pointer;
      }
    }
  }
}

@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@700&display=swap");
.serviceOverlay {
  position: absolute;
  left: -35px;
  top: -30px;
  width: max-content;
  height: max-content;
  transform-origin: center;
  z-index: 999;
  .serviceDesc {
    font-family: "Nanum Gothic Coding", monospace;
    color: #b6c7db;
    text-shadow: 1px 1px 2px rgb(57, 57, 57);
    font-weight: bolder;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 5;
    text-align: center;
    line-height: 100px;
    min-width: 100px;
    min-height: 68px;
    width: 20vw;
    height: 20vh;
    max-width: 120px;
    max-height: 83px;
    font-size: 0.35em;
    pointer-events: none;
    span {
      display: inline-block;
      vertical-align: middle;
      line-height: normal;
    }
  }
  svg.cloud {
    min-width: 120px;
    min-height: 83px;
    width: 25vw;
    height: 25vh;
    max-width: 145px;
    max-height: 101px;
    z-index: 8;
  }
  .serverStatus {
    width: 36px;
    height: 36px;
    position: absolute;
    right: -10px;
    top: 5px;
    z-index: 9;
  }
}
