@use "@scss" as global;
.backInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateZ(90deg);
  transform-origin: center;
  .team {
    text-align: center;
    font-size: 2rem;
    letter-spacing: -2px;
    width: 95%;
    .meTheKing .me .teammate {
      display: inline-block;
      height: auto;
    }
    .meTheKing {
      @include global.mix-map-responsive(22px, 30px, 40px) using ($val) {
        width: $val;
      }
    }
    .me {
      @include global.mix-map-responsive(18px, 24px, 32px) using ($val) {
        width: $val;
      }
    }
    .teammate {
      @include global.mix-map-responsive(12px, 18px, 24px) using ($val) {
        width: $val;
      }
    }
  }
}
