@use "@scss" as global;
.backInfoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transform: rotateZ(90deg);
  transform-origin: center;
  .team {
    text-align: center;
    font-size: 2rem;
    letter-spacing: -2px;
    width: 95%;
    .meTheKing .me .teammate {
      display: inline-block;
      height: auto;
    }

    @include global.mix-responsiveWidth(".meTheKing", 22px, 30px, 40px);
    @include global.mix-responsiveWidth(".me", 18px, 24px, 32px);
    @include global.mix-responsiveWidth(".teammate", 12px, 18px, 24px);
  }
}
