@use "@scss" as global;
// scss file only contains these.
// - constant properties
// - responsive properties
// - unrelated with animations.

.cardWrapper {
  position: absolute;
  width: fit-content;
  height: fit-content;
  will-change: transform;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  .card {
    border-radius: 10px;
    will-change: transform;
    transform-style: preserve-3d;
    @include global.mix-map-responsive(360px, 480px, 540px) using ($val) {
      width: $val;
    }
    &:active {
      cursor: grabbing;
    }
  }
}
