.loading {
  margin: auto;
  width: 100%;
  height: 100%;
  filter: blur(8);
  transform-origin: center;
  background-color: whitesmoke;
  .spin {
    position: absolute;
    transform-origin: center;
    width: 25px;
    height: 25px;
    left: 50%;
    top: 50%;
    background-color: aquamarine;
    border-radius: 50%;
  }
}
